@{
    ViewBag.Title = "White Label Step-1";
    ViewBag.PageTitle = "White Label Step-1";
    ViewBag.CurrentMenu = "SCREEN-0-0-3";
}
<link href="~/Content/WhiteStep1/WhiteStep1.css" rel="stylesheet" />

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active" id="Search"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Company </a></li>
                    <li role="presentation" id="CreateCorporate"><a href="#tab2" role="tab" data-section="tab2" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create White Label</a></li>
                    <li role="presentation" id="Tab3"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Subscription / Billing</a></li>
                    <li role="presentation" id="Tab4"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Hosting / Support</a></li>
                    <li role="presentation" id="Tab7"><a href="#tab7" role="tab" data-section="tab7" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Database</a></li>
                    <li role="presentation" id="tabuserpreferance"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;UI Preference</a></li>
                    <li role="presentation" id="Tab6"><a href="#tab6" role="tab" data-section="tab6" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Password Authentication Preference</a></li>
                </ul>
                <div class="tab-content">
                    <input type="hidden" id="hdfsrno" />
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                      @Html.Partial("_SearchCompany")
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                      @Html.Partial("_CreateWhiteLabelStep1")
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab3">
                       @Html.Partial("_SubcribeAndBilling")
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab4">
                       @Html.Partial("_HostingAndSupport")
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab5">
                        @Html.Partial("_UserPReferanceStep1")
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab6">
                       @Html.Partial("_PasswordauthenticateStep1")
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab7">
                      @Html.Partial("_DatabaseWhitelabelStep1")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="White Label Criteria's">2</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section3" title="Corporate Setting">3</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section4" title="Referral Details">4</a>
    </div>
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="White Label Criteria's">2</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section3" title="Corporate Setting">3</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section4" title="Referral Details">4</a>
    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" data-placement="left" title="Subscription">1</a>
        <a class="btn btn-default" data-section="tab4section1" rel="tooltip" title="Billing">2</a>

    </div>
    <div class="floating-section-buttons tab4" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" data-placement="left" title="Hosting">1</a>

        <a class="btn btn-default" data-section="tab4section2" rel="tooltip" title="Support">2</a>
    </div>
}



@section scripts{

    <script src="/assets/plugins/Barrating/jquery.barrating.min.js"></script>
    <script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.accordion.js"></script>
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>

    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>

    <script src="~/Scripts/WhiteStep1/WhiteStep1.js"></script>
}