@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    
}
<link href="/assets/css/daterangepicker.css" rel="stylesheet" />
<link href="/assets/plugins/morris/morris.css" rel="stylesheet" />
<link href="/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<style>
    .date-picker-line {
        margin-bottom: 15px;
    }

    .date-range {
        width: 235px;
    }

        .date-range span {
            font-size: 10px;
        }

    .btn {
        text-transform: uppercase;
    }

    .dashboard-tab .nav-tabs > li > a {
        border-bottom-width: 0;
    }

    .date-picker-line {
        display: none;
    }

    .dashboard-tab .tab-content {
        border-top-width: 0;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .dashboard-tab .nav-tabs > li > a {
        font-size: 12px;
        padding: 10px 20px;
    }
</style>

<div class="col-md-12">
    <div role="tabpanel" class="dashboard-tab">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs form-basic-tab " role="tablist" style="border-width: 0; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <li role="presentation"><a href="@Url.Action("Index", "Dashboard")" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-dashboard"></span>&nbsp;&nbsp;General</a></li>
            <li role="presentation"><a href="@Url.Action("Sales", "Dashboard")" data-section="tab2" class="hosting-accord"><span class="menu-icon fa fa-tree"></span>&nbsp;&nbsp;Sales </a></li>
            <li role="presentation"><a href="@Url.Action("Accounts", "Dashboard")" data-section="tab3" class="sub-accord"><span class="menu-icon fa fa-tags"></span>&nbsp;&nbsp;Accounts </a></li>
            <li role="presentation"><a href="@Url.Action("WebPortal", "Dashboard")" data-section="tab4" class="billing-accord"><span class="menu-icon fa fa-globe"></span>&nbsp;&nbsp;Web Portal </a></li>
            <li role="presentation" class="active"><a href="javascript:void(0);" data-section="tab5" class="maintance-accord"><span class="menu-icon fa fa-calendar-o"></span>&nbsp;&nbsp;Calender </a></li>
            @*<li role="presentation"><a href="@Url.Action("Timeline", "Dashboard")" data-section="tab6" class="maintance-accord"><span class="menu-icon fa fa-sliders"></span>&nbsp;&nbsp;Timeline </a></li>*@
            <li role="presentation"><a href="@Url.Action("ToDo", "Dashboard")" data-section="tab7" class="maintance-accord"><span class="menu-icon fa fa-check-square"></span>&nbsp;&nbsp;To Do </a></li>
            <li role="presentation"><a href="@Url.Action("SearchResult", "Dashboard")" data-section="tab8" class="maintance-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;Search Result</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h3 class="panel-title">Events</h3>
                            </div>
                            <div class="panel-body">
                                <div class="events">
                                    <div class="calendar-event">
                                        <p>Meeting with Ann.</p>
                                        <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a>
                                    </div>
                                    <div class="calendar-event">
                                        <p>Go Shopping.</p>
                                        <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a>
                                    </div>
                                    <div class="calendar-event">
                                        <p>finish #7 project.</p>
                                        <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a>
                                    </div>
                                    <div class="calendar-event">
                                        <p>Meeting With Mike.</p>
                                        <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a>
                                    </div>
                                    <div class="calendar-event">
                                        <p>Meeting with Joe.</p>
                                        <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a>
                                    </div>
                                </div>
                                <input class="form-control add-event" type="text" placeholder="Add Event">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/daterangepicker.js"></script>
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/jquery-counterup/jquery.counterup.min.js"></script>
    <script src="/assets/plugins/toastr/toastr.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    
    @*Calender*@
    <script src="/assets/plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/js/pages/calendar.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.js"></script>
    

    <script>
        $(function () {

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            cb(moment().subtract(29, 'days'), moment());

            $('#reportrange').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

        });
        $(document).ready(function () {
            if ($('body').hasClass('page-horizontal-bar')) {
                $('.date-picker-line-sidebar').removeClass('date-picker-line-sidebar');
            }
            $('li a.delete').click(function () {
                $(this).parent().parent().remove();
            });


            var drag = function () {
                $('.calendar-event').each(function () {

                    // store data so the calendar knows to render an event upon drop
                    $(this).data('event', {
                        title: $.trim($(this).text()), // use the element's text as the event title
                        stick: true // maintain when user navigates (see docs on the renderEvent method)
                    });

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1111999,
                        revert: true,      // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });
                });
            };

            var removeEvent = function () {
                $('.remove-calendar-event').click(function () {
                    $(this).closest('.calendar-event').fadeOut();
                    return false;
                });
            };

            $(".add-event").keypress(function (e) {
                if ((e.which == 13) && (!$(this).val().length == 0)) {
                    $('<div class="calendar-event"><p>' + $(this).val() + '</p><a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a></div>').insertBefore(".add-event");
                    $(this).val('');
                } else if (e.which == 13) {
                    alert('Please enter event name');
                }
                drag();
                removeEvent();
            });


            drag();
            removeEvent();

            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            $('#calendar').fullCalendar({

                header: {
                    left: 'prev today',
                    right: 'next',
                    center: 'title'
                },
                defaultView: "agendaWeek",
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'A-One Bangkok',
                        start: new Date(year, month, day),
                        color: '#ff0000'
                    },
                    {
                        title: 'Grand Palace',
                        start: new Date(year, month, day + 2),
                        color: '#00ff00'
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(year, month, day + 15),
                        color: '#0000ff'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: new Date(year, month, day + 18)
                    }
                ]
            });
        });
    </script>
    <script src="/assets/js/pages/calendar.js"></script>
}