@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    
}
<link href="/assets/css/daterangepicker.css" rel="stylesheet" />
<link href="/assets/plugins/morris/morris.css" rel="stylesheet" />
<link href="/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<style>
    .date-picker-line {
        margin-bottom: 15px;
    }

    .date-range {
        width: 235px;
    }

        .date-range span {
            font-size: 10px;
        }

    .btn {
        text-transform: uppercase;
    }

    .dashboard-tab .nav-tabs > li > a {
        border-bottom-width: 0;
    }

    .date-picker-line {
        display: none;
    }

    .dashboard-tab .tab-content {
        border-top-width: 0;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

    .dashboard-tab .nav-tabs > li > a {
        font-size: 12px;
        padding: 10px 20px;
    }
</style>

<div class="col-md-12">
    <div role="tabpanel" class="dashboard-tab">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs form-basic-tab " role="tablist" style="border-width: 0; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <li role="presentation"><a href="@Url.Action("Index", "Dashboard")" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-dashboard"></span>&nbsp;&nbsp;General</a></li>
            <li role="presentation"><a href="@Url.Action("Sales", "Dashboard")" data-section="tab2" class="hosting-accord"><span class="menu-icon fa fa-tree"></span>&nbsp;&nbsp;Sales </a></li>
            <li role="presentation"><a href="@Url.Action("Accounts", "Dashboard")" data-section="tab3" class="sub-accord"><span class="menu-icon fa fa-tags"></span>&nbsp;&nbsp;Accounts </a></li>
            <li role="presentation"><a href="@Url.Action("WebPortal", "Dashboard")" data-section="tab4" class="billing-accord"><span class="menu-icon fa fa-globe"></span>&nbsp;&nbsp;Web Portal </a></li>
            <li role="presentation"><a href="@Url.Action("Calender", "Dashboard")" data-section="tab5" class="maintance-accord"><span class="menu-icon fa fa-calendar-o"></span>&nbsp;&nbsp;Calender </a></li>
            <li role="presentation"><a href="@Url.Action("Timeline", "Dashboard")" data-section="tab6" class="maintance-accord"><span class="menu-icon fa fa-sliders"></span>&nbsp;&nbsp;Timeline </a></li>
            <li role="presentation"><a href="@Url.Action("ToDo", "Dashboard")" data-section="tab7" class="maintance-accord"><span class="menu-icon fa fa-check-square"></span>&nbsp;&nbsp;To Do </a></li>
            <li role="presentation" class="active"><a href="javascript:void(0);" data-section="tab8" class="maintance-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;Search Result</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="tab8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div class="search p bg-light m-b-sm">
                                    <form action="#" method="GET" data-default="150">
                                        <div class="input-group">
                                            <input type="text" name="search" class="form-control input-search" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                        <!-- Input Group -->
                                    </form>
                                    <!-- Search Form -->
                                </div>
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" aria-expanded="false">All<span class="badge badge-success pull-right m-l-xs">18</span></a></li>
                                        <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab" aria-expanded="true">Users<span class="badge badge-danger pull-right m-l-xs">7</span></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in p-v-lg" id="all">
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Consectetur adipiscing elit</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Integer molestie lorem at massa</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Facilisis in pretium nisl aliquet</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Nulla volutpat aliquam velit</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Faucibus porta lacus fringilla vel</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <div class="search-item">
                                                <h3 class="no-m"><a href="javascript:void(0);">Aenean sit amet erat nunc</a></h3>
                                                <a href="javascript:void(0);" class="search-link">www.google.com</a>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            </div>
                                            <nav>
                                                <ul class="pagination">
                                                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li class="active"><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">6</a></li>
                                                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade p-v-lg" id="users">
                                            <div class="search-item clearfix">
                                                <div class="pull-left m-r-md">
                                                    <img src="assets/images/avatar1.png" class="img-circle" width="80" alt="">
                                                </div>
                                                <h3 class="no-m m-t-xs"><a href="javascript:void(0);">David Smith</a></h3>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                            </div>
                                            <div class="search-item clearfix">
                                                <div class="pull-left m-r-md">
                                                    <img src="assets/images/avatar2.png" class="img-circle" width="80" alt="">
                                                </div>
                                                <h3 class="no-m m-t-xs"><a href="javascript:void(0);">Sandra Smith</a></h3>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                            </div>
                                            <div class="search-item clearfix">
                                                <div class="pull-left m-r-md">
                                                    <img src="assets/images/avatar3.png" class="img-circle" width="80" alt="">
                                                </div>
                                                <h3 class="no-m m-t-xs"><a href="javascript:void(0);">Christoper Palmer</a></h3>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                            </div>
                                            <div class="search-item clearfix">
                                                <div class="pull-left m-r-md">
                                                    <img src="assets/images/avatar4.png" class="img-circle" width="80" alt="">
                                                </div>
                                                <h3 class="no-m m-t-xs"><a href="javascript:void(0);">Emily Lee</a></h3>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                            </div>
                                            <div class="search-item clearfix">
                                                <div class="pull-left m-r-md">
                                                    <img src="assets/images/avatar5.png" class="img-circle" width="80" alt="">
                                                </div>
                                                <h3 class="no-m m-t-xs"><a href="javascript:void(0);">Nick Doe</a></h3>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                            </div>
                                            <nav>
                                                <ul class="pagination">
                                                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li class="active"><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/daterangepicker.js"></script>
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/jquery-counterup/jquery.counterup.min.js"></script>
    <script src="/assets/plugins/toastr/toastr.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/assets/plugins/curvedlines/curvedLines.js"></script>
    <script src="/assets/plugins/metrojs/MetroJs.min.js"></script>
    @*For General Tab*@
    <script src="/assets/js/pages/dashboard.js"></script>
    @*For Sales Tab*@
    <script src="/assets/plugins/morris/raphael.min.js"></script>
    <script src="/assets/plugins/morris/morris.min.js"></script>
    <script src="/assets/js/pages/charts-morris.js"></script>
    @*For Account Tab*@
    <script src="/assets/js/pages/charts-flot.js"></script>
    @*Web Portal*@
    <script src="/assets/plugins/chartsjs/Chart.min.js"></script>
    <script src="/assets/js/pages/charts-chartjs.js"></script>
    @*Calender*@
    <script src="assets/plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="assets/js/pages/calendar.js"></script>

    <script>
        $(function () {

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            cb(moment().subtract(29, 'days'), moment());

            $('#reportrange').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

        });
        $(document).ready(function () {
            $('li a.delete').click(function () {
                $(this).parent().parent().remove();
            });
        });
    </script>
}