@{
    ViewBag.Title = "Hotels";
    ViewBag.PageTitle = "Hotels";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Hotel Code: <span>HOTEL-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}


<link href="/assets/plugins/Barrating/bootstrap-stars.css" rel="stylesheet" />
<link href="~/assets/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
<link href="~/assets/plugins/FlexibleSlideToTopAccordion/css/style.css" rel="stylesheet" />
<style>
    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span.right-floated,
        .tab-itenaries .col-md-2 > h5 > span.right-floated,
        .tab-itenaries .col-md-3 > h5 > span.right-floated,
        .tab-itenaries .col-md-4 > h5 > span.right-floated,
        .tab-itenaries .col-md-5 > h5 > span.right-floated,
        .tab-itenaries .col-md-6 > h5 > span.right-floated,
        .tab-itenaries .col-md-7 > h5 > span.right-floated,
        .tab-itenaries .col-md-8 > h5 > span.right-floated,
        .tab-itenaries .col-md-9 > h5 > span.right-floated,
        .m-b-lg > h5 > span.right-floated {
            float: right;
            font-size: 13px;
            font-weight: normal;
            text-align: right;
        }

            .tab-itenaries .col-md-1 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-2 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-3 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-4 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-5 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-6 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-7 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-8 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-9 > h5 > span.right-floated .TripRatting,
            .m-b-lg > h5 > span.right-floated .TripRatting {
                font-size: 2.4em;
            }

        .tab-itenaries .col-md-1 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-2 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-3 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-4 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-5 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-6 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-7 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-8 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-9 > h5 > span.left-floated .small-text,
        .m-b-lg > h5 > span.left-floated .small-text {
            font-size: 13px;
            font-weight: normal;
            color: #555;
        }

        .tab-itenaries .col-md-1 > h5 > span.left-floated,
        .tab-itenaries .col-md-2 > h5 > span.left-floated,
        .tab-itenaries .col-md-3 > h5 > span.left-floated,
        .tab-itenaries .col-md-4 > h5 > span.left-floated,
        .tab-itenaries .col-md-5 > h5 > span.left-floated,
        .tab-itenaries .col-md-6 > h5 > span.left-floated,
        .tab-itenaries .col-md-7 > h5 > span.left-floated,
        .tab-itenaries .col-md-8 > h5 > span.left-floated,
        .tab-itenaries .col-md-9 > h5 > span.left-floated,
        .m-b-lg > h5 > span.left-floated {
            float: none;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 11px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 0;
        }

    .strong {
        font-weight: bold;
    }

    .modal-body .strong {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*.strong:hover {
            text-decoration: underline !important;
        }*/

    .panel .panel-body {
        padding: 15px;
    }

    .tab-itenaries .row .btn {
        padding: 5px 9px;
        font-size: 13px;
        text-transform: uppercase;
        margin: 5px 5px 5px 0;
    }

    .tab-itenaries .row .rooms-type .btn {
        padding: 2px 5px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 5px 0 5px 0;
    }

    .modal-footer .btn {
        text-transform: uppercase;
    }

    .star-ratings .select2.select2-container {
        display: none;
    }

    .modal-body {
        width: 100%;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .quote-link h2 {
        /*margin-bottom: 0;
        margin-top: 0;*/
        margin-top: 15px;
        text-align: center;
    }

    .quote-link .panel-heading {
        padding: 10px 15px;
    }

    .panel-red .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

        .panel-red .panel-collapse .panel-body {
            color: #4e5e6a;
        }

    .fa-ul > li {
        font-size: 12px;
        position: relative;
    }

    .fa-ul {
        margin-left: 15px;
    }

    .right-floating {
        float: right;
        cursor: pointer;
        color: #F25656;
    }

    .tab-itenaries span.total-cost {
        font-size: 11px;
    }

    a.col-sm-3 {
        background-color: #f25656;
        color: #fff;
        font-family: Lucida Console;
        font-size: 32px;
        height: 45px;
        margin-bottom: 0;
        margin-top: 0;
        top: 0;
        width: 22.5%;
    }

        a.col-sm-3 span {
            float: left;
            font-size: 79px;
            margin: -32px 0 0 -16px;
        }

    .fa-ul > li {
        margin-bottom: 5px;
    }

    /*.panel > .row > div:last-child {
        padding-left: 0;
        padding-right: 0;
    }*/
    .panel > .row > div:first-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tab-itenaries .table > tbody > tr:first-child > td {
        border-width: 0;
    }

    .tab-itenaries .table > tbody > tr > td:first-child {
        width: 60%;
    }

    .tab-itenaries .table > tbody > tr > td:last-child {
        text-align: right;
        width: 40%;
    }

    .tab-itenaries .table > tbody > tr > td {
        font-size: 11px;
        padding: 7px !important;
    }

    .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
        width: 100%;
    }

    .button-index {
        background-color: #fff;
        border-radius: 50%;
        color: #333;
        padding: 0 5px;
        font-weight: bold;
    }

    .button-itenaries .form-control .btn-steps {
        text-align: left;
        width: 77%;
    }

    .button-itenaries .form-control .btn-steps-icons {
        width: auto;
    }

    .button-itenaries .form-control .btn-steps:hover .button-index {
        color: #333;
    }

    .button-index {
        margin-right: 5px;
    }

    .btn-auto {
        width: auto;
    }

    .btn-full {
        width: 100%;
    }

    .search-panel-buttons {
        text-align: right;
    }

    .br-theme-bootstrap-stars .br-widget {
        line-height: 30px;
    }

    h2.strong .alt-text {
        font-size: 0.6em;
    }

    h2.strong .amount {
        color: #f25656;
    }

    .rooms-type .btn {
        width: auto !important;
    }

    .aminities {
        float: right;
        color: #BEC8D2;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }
</style>
<style>
    .modal-lg {
        width: 95%;
    }

    .modal-header h4 {
        border-bottom: 1px dashed #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .input-group-addon.addbtn:last-child, .input-group-addon.addbtn:hover {
        background-color: #22baa0;
        border-color: #22baa0;
        border-left: 0 none #22baa0;
        color: #fff;
    }

    #wrapper, .wrapper {
        width: 200%;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease-in-out;
        padding-left: 0;
    }

    .content {
        float: left;
        width: 50%;
        min-height: 200px;
        white-space: normal;
        background-repeat: no-repeat;
    }

    li.content {
        list-style: outside none none;
        transition: 1s;
        border: 1px solid #22BAA0;
    }

        li.content .libody {
            transition-timing-function: linear;
        }

    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .libody.summery-body {
    }

    .searchpanel-button {
        padding: 5px 9px !important;
    }

    .panel.panel-white.tab-itenaries {
        padding-bottom: 3px;
    }
    /*.panel-blue, .panel-green {
        opacity:0.4;
    }*/
    .panel-blue {
        background-color: wheat;
        box-shadow: 2px 2px 2px #909090;
    }

    .panel-green {
        background-color: #82eab0;
    }

        .panel-blue .panel-heading, .panel-blue .panel-body,
        .panel-green .panel-heading, .panel-green .panel-body {
            color: #555;
        }

    .jstree-container-ul > li > a > i.jstree-checkbox {
        display: none;
    }

    .newsize {
        width: 36.99% !important;
    }
</style>
<style>


    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .summary-body p {
        margin: 0;
    }

    .summary-list .label {
        font-size: 100%;
    }

    .summary-list {
        margin-bottom: 0;
    }

        .summary-list > tbody > tr > td {
            text-align: left !important;
            width: auto;
        }

            .summary-list > tbody > tr > td:first-child {
                width: 45%;
            }

        .summary-list > tbody > tr:first-child > td {
            border-top-width: 0;
        }


    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }

    .field-list a:hover {
        text-decoration: none;
    }

    li.content {
        list-style: outside none none;
        transition: 1s;
        border: 1px solid #22BAA0;
    }

        li.content .libody {
            transition-timing-function: linear;
        }


    .panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

    .panel-blue .panel-collapse {
        border: 1px solid #12AFCB;
    }

    .panel-purple .panel-collapse {
        border: 1px solid #7A6FBE;
    }

    .panel-green .panel-collapse {
        border: 1px solid #22BAA0;
    }

    .panel-group {
        margin-bottom: 0;
    }

        .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
            color: #4e5e6a;
        }

        .panel-group .panel .panel-heading {
            padding: 10px;
        }

    .panel .panel-heading .panel-title {
        color: #fff !important;
        float: none;
        font-weight: normal;
        font-size: 17px;
        border-bottom-width: 0;
    }

    .panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
        margin: 0;
    }

    .tab-itenaries {
        border: 1px double #bec8d2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

        .tab-itenaries .table > tbody > tr > td {
            font-size: 12px;
            padding: 7px !important;
        }
</style>
@*New font for dropdown*@
<style>
        .select2-selection {
        height: 29px !important;
        font-size: 11px !important;
    }
    .select2-dropdown {
    font-size: 11px;
}
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <h3>Hotels</h3>
                <!-- Nav tabs -->
                @* <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Hotel </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-hospital-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Hotel</a></li>
                    <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab" data-section="tab5" class="basic-accord"><span class="menu-icon fa fa-bed"></span>&nbsp;&nbsp;&nbsp;&nbsp;Room </a></li>
                    <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab" data-section="tab6" class="basic-accord"><span class="menu-icon fa fa-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;Function Room</a></li>
                    <li role="presentation"><a href="#tab7" role="tab" data-toggle="tab" data-section="tab7" class="basic-accord"><span class="menu-icon fa fa-spoon"></span>&nbsp;&nbsp;&nbsp;&nbsp;Restaurant</a></li>
                    <li role="presentation"><a href="#tab8" role="tab" data-toggle="tab" data-section="tab8" class="basic-accord"><span class="menu-icon fa fa-picture-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Images</a></li>

                </ul>*@
                <div class="tab-content">
                    @*Search Hotel*@
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                           
                            @*Booking*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="from-group panel-search booking-panel">
                                        <div class="panel panel-blue">
                                           
                                            <div class="panel-body">
                                                <form>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="text" id="txtTagSearch" class="form-control" value="Bangkok" placeholder="Hotel / Destination" />

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                <div class="col-md-6">
                                                                    <label for="txtTagSearch" style="font-size: 15px !important">Check-in</label>
                                                                    </div>
                                                                <div class="col-md-6">
                                                                    <label for="txtTagSearch" style="font-size: 15px !important">Check-out</label>
                                                                </div>
                                                                    </div>
                                                             </div>
                                                            </div>
                                                        <div class="row">
                                                                    <div class="col-md-1">
                                                                        <a href="#"><i class="fa fa-calendar-check-o date-picker" style="font-size: 30px !important"></i></a>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">-Day-</option>
                                                                            @{
                                                                                for (int i = 1; i <= 31; i++)
                                                                                {
                                                                                <option>@i</option>        
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">-Select Month-</option>
                                                                            <option>January 2016</option>
                                                                            <option>February 2016</option>
                                                                            <option>March 2016</option>
                                                                            <option>April 2016</option>
                                                                            <option>May 2016</option>
                                                                            <option>June 2016</option>
                                                                            <option>July 2016</option>
                                                                            <option>August 2016</option>
                                                                            <option>September 2016</option>
                                                                            <option>October 2016</option>
                                                                            <option>November 2016</option>
                                                                            <option>December 2016</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a href="#"><i class="fa fa-calendar-check-o date-picker" style="font-size: 30px !important"></i></a>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">-Day-</option>
                                                                            @{
                                                                                for (int i = 1; i <= 31; i++)
                                                                                {
                                                                                <option>@i</option>        
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">-Select Month-</option>
                                                                            <option>January 2016</option>
                                                                            <option>February 2016</option>
                                                                            <option>March 2016</option>
                                                                            <option>April 2016</option>
                                                                            <option>May 2016</option>
                                                                            <option>June 2016</option>
                                                                            <option>July 2016</option>
                                                                            <option>August 2016</option>
                                                                            <option>September 2016</option>
                                                                            <option>October 2016</option>
                                                                            <option>November 2016</option>
                                                                            <option>December 2016</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            
                                                        </div>
                                                   
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                   
                                                                    <div class="col-md-3">
                                                                        <label for="txtTagSearch">Room</label>
                                                                        <select id="drpSearchRoom" class="js-states form-control" style="display: none; width: 100%">
                                                                            @{
                                                                                for (int i = 1; i < 30; i++)
                                                                                {
                                                                                <option>@i</option>        
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label for="txtTagSearch">Adults</label>
                                                                        <select id="drpSearchAdults" class="js-states form-control" style="display: none; width: 100%">
                                                                            @{
                                                                                for (int i = 1; i < 30; i++)
                                                                                {
                                                                                <option>@i</option>        
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label for="txtTagSearch">Children</label>
                                                                        <select id="drpSearchChildren" class="js-states form-control" style="display: none; width: 100%">
                                                                            @{
                                                                                for (int i = 1; i < 30; i++)
                                                                                {
                                                                                <option>@i</option>        
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom: 0;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a href="javascript:void(0);" style="float: right" class="btn btn-primary">See Prices</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Advance*@
                            <div class="from-group panel-search advanced-panel" style="display: none;">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <h2 class="panel-title" style="border-bottom: 1px dashed #fff ! important; padding-bottom: 5px; font-size: 17px;">Advance</h2>
                                        <div class="panel-control">
                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label for="txtTagSearch">Criteria</label>
                                                                <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option selected="selected">None</option>
                                                                    <option>At</option>
                                                                    <option>Between</option>
                                                                    <option>Less than</option>
                                                                    <option>Less than or equal</option>
                                                                    <option>At Month</option>
                                                                    <option>Between Month</option>
                                                                    <option>More than</option>
                                                                    <option>More than or equal</option>
                                                                    <option>At Quater</option>
                                                                    <option>Between Quater</option>
                                                                    <option>At Year</option>
                                                                    <option>Between Year</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="txtTagSearch">Search By</label>
                                                                <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option selected="selected">Created date</option>
                                                                    <option>Updated date</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="txtTagSearch">From</label>
                                                                <div class="row">
                                                                    <div class="col-md-5">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">2016</option>
                                                                            <option>2015</option>
                                                                            <option>2014</option>
                                                                            <option>2013</option>
                                                                            <option>2012</option>
                                                                            <option>2011</option>
                                                                            <option>2010</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                            <option selected="selected">January</option>
                                                                            <option>February</option>
                                                                            <option>March</option>
                                                                            <option>April</option>
                                                                            <option>May</option>
                                                                            <option>June</option>
                                                                            <option>July</option>
                                                                            <option>August</option>
                                                                            <option>September</option>
                                                                            <option>October</option>
                                                                            <option>November</option>
                                                                            <option>December</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-bottom: 0;">
                                                <a href="javascript:void(0);" class="btn btn-default">SEARCH</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @*Search Count*@
                            <div class="form-group">
                                <h2 style="border-width: 0; margin-bottom: 0" class="text-danger" id="lblTotalRecordsFound"><span>Bangkok</span>: <span>2</span> Records found</h2>
                            </div>
                            @*Filter - Order - Search Result*@
                            <div class="from-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        @*Order By*@
                                        <div class="panel panel-white tab-itenaries">
                                            <div class="panel-heading">
                                                <h2 class="panel-title" style="border-bottom: 1px dashed #fff ! important; padding-bottom: 5px; font-size: 17px;">Order By:</h2>
                                                <div class="panel-control">
                                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="st-accordion orderby-accordion">
                                                    <ul>
                                                        <li class="orderby">
                                                            <a href="javascript:void(0);">Our recommendations first <i class="fa fa-check"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Lowest price first <i></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Stars <i></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Most central first <i></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Review score <i></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        @*Filter By*@
                                        <div class="panel panel-white tab-itenaries">
                                            <div class="panel-heading">
                                                <h2 class="panel-title" style="border-bottom: 1px dashed #fff ! important; padding-bottom: 5px; font-size: 17px;">Filter By:</h2>
                                                <div class="panel-control">
                                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div id="st-accordion" class="st-accordion">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0);">Price (per night)<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Rs. 0 - Rs. 3,600
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Rs. 3,600 - Rs. 7,300
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Rs. 7,300 - Rs. 11,000
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Rs. 11,000 - Rs. 14,000
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Rs. 14,000 +
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Star rating<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    1 Star
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    2 Star
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    3 Star
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    4 Star
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    5 Star
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Unrated
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Deal<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Value Deal
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Reservation policy<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Free cancellation
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Book without credit card
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Beach access<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Beach property
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Meals<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Breakfast included
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Half board
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Self catering
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Property Type<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Hotels
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Hostels
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Apartments
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Capsule hotels
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Resorts
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Chalets
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Villas
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Guest houses
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Boats
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Review score<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Superb: 9+
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Very good: 8+
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Good: 7+
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Pleasant: 6+
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    No rating
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Property facility<span class="st-arrow"></span></a>
                                                            <div class="st-content">
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Wifi
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Parking
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Airport shuttle
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Fitness Center
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Non-smoking rooms
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Indoor pool
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Spa and wellness center
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Famliy rooms
                                                                </div>
                                                                <div class="form-control">
                                                                    <input type="checkbox" />
                                                                    Pets alloed
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*Search Result*@
                                    <div class="col-md-8">

                                        <div class="m-b-lg tab-itenaries panel panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <a>
                                                        <img src="http://q-ec.bstatic.com/images/hotel/square200/144/14425938.jpg" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-md-6 right-border">
                                                    <h5 class="text-danger"><a href="#">A1 Bangkok</a>
                                                        <span class="right-floated">Good
                                                            <br />
                                                            <span class="TripRatting">7.5</span>
                                                        </span>
                                                        <span class="left-floated">
                                                            <div class="star-ratings" style="display: none;">
                                                                <div class="stars stars-example-bootstrap">
                                                                    <select id="example-bootstrap1" class="example-bootstrap" name="rating">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3" selected="selected">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </span>
                                                        <span class="left-floated ">
                                                            <span class="small-text">Hotel</span>&nbsp;|&nbsp;<span class="small-text">Bangkok - 9 Soonvijai 4, New Petchburi Road, 10320</span>
                                                        </span>
                                                    </h5>
                                                    @*<p><span>Hotel</span>&nbsp;|&nbsp;<span>Bangkok</span></p>*@
                                                    <p>Built in the style of a Mediterranean village, Fraser Place Robertson Walk Singapore offers fully furnished 1 to 3-bedroom apartments with both free Wi-Fi and free wired internet. </p>
                                                    <div class="tab-itenaries btn aminities">
                                                        <i class="glyphicons glyphicons-bedroom-nightstand" rel="tooltip" title="Rooms"></i>
                                                        <i class="fa fa-spoon text-info" rel="tooltip" title="Restaurant"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-coffee text-info" rel="tooltip" title="Coffee / Tea"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-beer" rel="tooltip" title="Bar"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-bed text-info"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-television text-info" rel="tooltip" title="Theater"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-bus" rel="tooltip" title="Transfer"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-wifi text-info" rel="tooltip" title="Wifi"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-ship" rel="tooltip" title="Cruise"></i>&nbsp;&nbsp;&nbsp;
                                                        <i class="fa fa-plane" rel="tooltip" title="Near Airport"></i>&nbsp;&nbsp;&nbsp;
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-control">
                                                        <h2 class="strong"><span class="amount">5500 THB</span><span class="alt-text"> / night</span></h2>
                                                    </div>
                                                    <div class="form-control">
                                                        <span class="text-success">FREE Cancellation</span>
                                                    </div>
                                                    <div class="form-control">
                                                        <button type="button" class="btn btn-info">CHOOSE YOUR ROOM</button>
                                                    </div>
                                                    <div class="form-control rooms-type">
                                                        <a href="javascript:void(0);" class="tab-itenaries btn btn-default text-danger" rel="tooltip" title="Signel"><span class="fa fa-user"></span></a>
                                                        <a href="javascript:void(0);" class="tab-itenaries btn btn-default text-danger" rel="tooltip" title="Twin"><span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span></a>
                                                        <a href="javascript:void(0);" class="tab-itenaries btn btn-default text-danger" rel="tooltip" title="Triple"><span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span></a>
                                                        <a href="javascript:void(0);" class="tab-itenaries btn btn-default text-danger" rel="tooltip" title="Quad"><span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span>&nbsp;<span class="fa fa-user"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script src="/assets/plugins/Barrating/jquery.barrating.min.js"></script>
    <script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.accordion.js"></script>
    @*<script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.easing.1.3.js"></script>*@

    <script>
        $(function () {
            $('.star-ratings').show();
            $('.example-bootstrap').barrating({
                theme: 'bootstrap-stars',
                showSelectedRating: false,
                readonly: true
            });
            $('#st-accordion').accordion(
                //{
                //oneOpenedItem: true
                //}
            );
        });
        $(document).ready(function () {

            $('.hotelstatus').editable({
                value: 2,
                source: [
                    { '1': 'Active' },
                    { '2': 'Inactive' }
                ]
            });
            $('.next').on('click', function () {
                if ($(this).hasClass('active')) {
                    //$(this).parent().parent().css('transform', 'rotate3d(0,1,0,-360deg)');
                    $(this).parent().parent().hide();
                    $(this).parent().parent().next().show();
                    //$(this).parent().parent().next().css('transform', 'rotate3d(0,1,0,360deg)');
                }
            });
            $('.prev').on('click', function () {
                if ($(this).hasClass('active')) {
                    //$(this).parent().parent().css('transform', 'rotate3d(0,1,0, -360deg)');
                    $(this).parent().parent().hide();
                    $(this).parent().parent().prev().show();
                    //$(this).parent().parent().prev().css('transform', 'rotate3d(0,1,0, 360deg)');
                }
            });
            $('.searchpanel-button').on('click', function (e) {
                var currentButton = $(this);
                var panelClass = $(this).attr('data-show-panel');
                $('.panel-search:visible').slideUp(600);
                var panel = $('.' + panelClass);
                if ($('.' + panelClass).is(':visible')) {
                    panel.slideUp(600, function () {
                        collapsePanelButton($('.booking-panel-button').children());
                        collapsePanelButton($('.advanced-panel-button').children());
                    });
                } else {
                    panel.find('.panel-body').show();
                    panel.slideDown(600, function () {
                        if ($(this).hasClass('booking-panel')) {
                            collapsePanelButton($('.advanced-panel-button').children());
                            expandPanelButton($('.booking-panel-button').children());
                        } else {
                            collapsePanelButton($('.booking-panel-button').children());
                            expandPanelButton($('.advanced-panel-button').children());
                        }
                    });
                }
                currentButton.trigger('focusout');
                e.preventDefault();
            });
            $('st-accordion').on('click', 'li div.my_class', handle_click);
            $('.orderby-accordion li').on('click', function () {
                var thisControl = $(this);
                $('.orderby-accordion li').removeClass('orderby').find('i').removeClass('fa').removeClass('fa-check');
                thisControl.find('i').addClass('fa').addClass('fa-check')
                thisControl.addClass('orderby')
            });
            Morris.Bar({
                element: 'morris2',
                data: [
                    { year: '11-Mar-2016', a: 25, b: 15 },
                    { year: '12-Mar-2016', a: 05, b: 12 },
                    { year: '13-Mar-2016', a: 05, b: 32 },
                    { year: '14-Mar-2016', a: 19, b: 05 },
                    { year: '15-Mar-2016', a: 25, b: 40 },
                    { year: '16-Mar-2016', a: 65, b: 10 },
                    { year: '17-Mar-2016', a: 65, b: 60 }
                ],
                xkey: 'year',
                ykeys: ['a', 'b'],
                labels: ['a', 'b'],
                barRatio: 0.4,
                xLabelAngle: 35,
                hideHover: 'auto',
                barColors: ['#6ad6c3', '#22BAA0'],
                resize: true
            });

        });
        function expandPanelButton(control) {
            control.removeClass('fa-plus');
            control.addClass('fa-minus');
        }
        function collapsePanelButton(control) {
            control.removeClass('fa-minus');
            control.addClass('fa-plus');
        }
        function handle_click(e) {
            e.stopPropagation();
            // your event code
        }
    </script>
}

@section floatingsection{

}


@section rightsidesummary{
    <h3>
        <span class="">
            <div class="btn-group">
                <a class="btn tab-itenaries btn-utilities-right">Utilities</a>
                <a class="btn btn-quickreport-right">Quick Report</a>
            </div>
        </span>
        <a href="javascript:void(0);" class="pull-right btn" id="closeRightSideSummary" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol text-utilities-tasks"></i>
            <span>Task</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-megaphone-black-amplification-audio-tool-symbol text-utilities-notification"></i>
            <span>Notification</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-calendar-events-symbol text-utilities-calendar"></i>
            <span>Calendar</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-new-email-black-back-envelope-symbol-of-interface text-utilities-email"></i>
            <span>Email</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>SMS</span>
        </a>*@
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-broken-black-ticket-symbol text-utilities-notes"></i>
            <span>Notes</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-close-arrow-shape-button-interface-symbol text-utilities-tags"></i>
            <span>Tags</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-film-strip-piece-of-two-photograms text-utilities-helpvideo"></i>
            <span>Help Video</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Guided Tour</span>
        </a>*@
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Copy</span>
        </a>*@
        <a href="javascript:void(0);">
            <i class="flaticon-printing-button-interface-symbol text-utilities-print"></"></i>
            <span>Print</span>
        </a>
        <a href="javascript:void(0);">
            <i class="flaticon-photo-camera-black-tool text-utilities-screenshot"></i>
            <span>Screenshot</span>
        </a>
        <hr />
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding: 0 5px 5px 5px;">Notification</h4>

            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slimscroll quickreport-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-6">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <select class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option>All</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Action</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Created</option>
                            <option>Modified</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Node Value</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Fortnightly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0">
                        <label>&nbsp;</label>
                        <button class="btn btn-info" style="padding: 5px 10px; font-size: 12px;">SHOW</button>
                    </div>
                </div>
            </div>
            <br />

        </div>
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">Master Data Entry Craeted/Modified Report <span class="pull-right"><a href="javascript:void(0);" style="padding: 0;">Flip View</a></span></h4>
            <div class="panel-body">
                <div id="morris2"></div>
            </div>
        </div>
    </div>
}
