<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1"><span class="section-index">1</span>&nbsp;Policy - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group cancellationform">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpCostingSet">Contract</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                        <option>Outtrigger 2015/16 Full Year FIT</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractID" value="0001" placeholder="Contract ID" readonly>
                </div>
                <div class="col-md-6">
                    <label for="txtFromDate">FIT/Group</label>
                    <input type="text" class="form-control" id="txtContractID" value="FIT" placeholder="FIT/Group" readonly>
                </div>
              
              
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                  <div class="col-md-6">
                    <label for="drpRoomCategory">Room Category </label>
                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">All</option>
                        <option >Standard </option>
                        <option>Delux </option>
                        <option>Supirior</option>
                    </select>
                </div>
                <div class="col-md-6">

                    <label for="drpStatus">Status</label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active </option>
                        <option>Inactive </option>
                    </select>

                </div>
               
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                 <div class="col-md-3">
                    <label for="txtFromDate">From Date </label>
                    <input type="text" class="form-control date-picker" id="txtFromDate" value="01/11/2015" placeholder="From Validity">
                </div>
                <div class="col-md-3">
                    <label for="txtTodate">To Date </label>
                    <input type="text" class="form-control date-picker" id="txtTodate" value="24/12/2015" placeholder="To Validity">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section2"><span class="section-index">2</span>&nbsp;Cancellation Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 31%; padding: 5px">Days Before Arrival</th>
                                    <th style="width: 32%; padding: 5px">Charge Type</th>
                                    <th style="width: 31%; padding: 5px">Charge</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="14" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option selected="selected">Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="2" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section3"><span class="section-index">3</span>&nbsp;No Show Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 47%; padding: 5px">Charge Type</th>
                                    <th style="width: 47%; padding: 5px">Charge</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                <tr>

                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option selected="selected">Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="2" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

         <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section7"><span class="section-index">4</span>&nbsp;Early Check In Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 47%; padding: 5px">Charge Type</th>
                                    <th style="width: 47%; padding: 5px">Charge</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                <tr>

                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option >Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section4"><span class="section-index">5</span>&nbsp;Early Check Out Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 47%; padding: 5px">Charge Type</th>
                                    <th style="width: 47%; padding: 5px">Charge</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                <tr>

                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option selected="selected">Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="2" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                     <h3 class="tab9section5"><span class="section-index">6</span>&nbsp;Late Check Out Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 30%; padding: 5px">Time</th>
                                    <th style="width: 30%; padding: 5px"></th>
                                    <th style="width: 36%; padding: 5px">Charge Type</th>
                                    
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpcurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Until</option>
                                            <option>After</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1800" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option selected="selected">50% Length Of Stay Per Room</option>
                                            <option>Night Per Room</option>
                                        </select>
                                    </td>
                                   
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpcurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option >Until</option>
                                            <option selected="selected">After</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1800" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option selected="selected">Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option >Night Per Room</option>
                                        </select>
                                    </td>
                                   
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                     <h3 class="tab9section6"><span class="section-index">7</span>&nbsp;No Check Out Allowed On</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 47%; padding: 5px">No Check Out Date</th>
                                    <th style="width: 47%; padding: 5px">Comment</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comment">
                                    </td>
                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comment">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder=" ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comment">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="padding: 5px">
                                       <label for="txtRemarks">Remarks </label>
                                    </td>
                                    <td style="padding: 5px">
                                        <label for="txtRemarksInternal">Remarks (Internal)</label>
                                    </td>
                                    <td style="padding: 5px">
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                       <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                                    </td>
                                    <td style="padding: 5px">
                                         <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                                    </td>
                                    <td style="padding: 5px">
                                      
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
        <br />

        @* <h3 class="tab9section1 section-headers">Cancellation Policy Details</h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab3-1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Cancellation Policy Details</a></li>
            <li role="presentation"><a href="#tab3-2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-times-circle "></span>&nbsp;&nbsp;&nbsp;&nbsp;Cancellation Policy Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab3-1">
                @Html.Partial("_SearchCancellationPolicyDetail")
            </div>
            <div role="tabpanel" class="tab-pane " id="tab3-2">
                @Html.Partial("_CreateCancellationPolicyDetail")
            </div>
        </div>

        <h3 class="tab9section1 section-headers">No Show Policy Details</h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab3-11" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search No Show Policy Details</a></li>
            <li role="presentation"><a href="#tab3-21" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-times-circle "></span>&nbsp;&nbsp;&nbsp;&nbsp;No Show Policy Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab3-11">
                @Html.Partial("_SearchNoshowPolicy")
            </div>
            <div role="tabpanel" class="tab-pane " id="tab3-21">
                @Html.Partial("_CreateNoshowPolicy")
            </div>
        </div>
        <h3 class="tab9section1 section-headers">Early Check Out Policy Details</h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab3-12" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Early Check Out Policy Details</a></li>
            <li role="presentation"><a href="#tab3-22" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-times-circle "></span>&nbsp;&nbsp;&nbsp;&nbsp;Early Check Out Policy Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab3-12">
                @Html.Partial("_SearchCheckoutPolicy")
            </div>
            <div role="tabpanel" class="tab-pane " id="tab3-22">
                @Html.Partial("_CreateCheckoutPolicy")
            </div>
        </div>
        <h3 class="tab9section1 section-headers">Late Check Out Policy Details</h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab3-123" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Late Check Out Policy Details</a></li>
            <li role="presentation"><a href="#tab3-223" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-times-circle "></span>&nbsp;&nbsp;&nbsp;&nbsp;Late Check Out Policy Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab3-123">
                @Html.Partial("_SearchLatecheckoutPolicy")
            </div>
            <div role="tabpanel" class="tab-pane " id="tab3-223">
                @Html.Partial("_CreateLatecheckoutPolicy")
            </div>
        </div>*@


    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title cancelationsummeryt">Summary 
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                             <i class="fa fa-tasks"></i>
                         </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
