@{
    ViewBag.Title = "Suppliers";
    ViewBag.PageTitle = "Supplier Account";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Supplier Code: <span>HOTLE-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>Operating Branch: <span>Pattaya</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}
<link href="~/Content/SupplierAccount/SupplierAccount.css" rel="stylesheet" />

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Supplier </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-hospital-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Supplier</a></li>
                    <li role="presentation"><a href="#tab10" role="tab" data-toggle="tab" data-section="tab10" class="basic-accord"><span class="menu-icon fa fa-paw"></span>&nbsp;&nbsp;&nbsp;&nbsp;Services</a></li>
                    <li role="presentation"><a href="#tab9" role="tab" data-toggle="tab" data-section="tab9" class="basic-accord"><span class="menu-icon fa fa-user-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;User</a></li>
                    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-university"></span>&nbsp;&nbsp;&nbsp;&nbsp;Billing / Bank</a></li>
                    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon fa fa-money"></span>&nbsp;&nbsp;&nbsp;&nbsp;Payment Criteria</a></li>
                    <li role="presentation"><a href="#tabcreditlimit" role="tab" data-toggle="tab" data-section="tabcreditlimit" class="basic-accord"><span class="menu-icon fa fa-cart-plus"></span>&nbsp;&nbsp;&nbsp;Credit Limit</a></li>
                    <li role="presentation"><a href="#tab7" role="tab" data-toggle="tab" data-section="tab7" class="basic-accord"><span class="menu-icon fa fa-cart-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Accounts</a></li>


                </ul>
                <div class="tab-content">
                    @*Search Supplier*@
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        @Html.Partial("_SearchSupplierAccount")
                    </div>
                    @*Create Supplier*@
                    <div role="tabpanel" class="tab-pane " id="tab2">
                       @Html.Partial("_CreateSupplierAccount")
                    </div>
                    @*Services*@
                    <div class="tab-pane" id="tab10">
                        <div class="col-md-8 full-responsive">
                            <form>
                                <h3 class="tab7section1">&nbsp;Services - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>

                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Accomodationserch" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Accommodation</a></li>
                                    <li role="presentation"><a href="#accomondationform" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-h-square"></span>&nbsp;&nbsp;&nbsp;&nbsp;Accommodation</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="Accomodationserch">
                                       @Html.Partial("_SearchAccomodationService")

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="accomondationform">
                                       @Html.Partial("_CreateAccomodationService")
                                    </div>
                                </div>

                                <h6>&nbsp;</h6>
                                <h3 class="tab7section1">&nbsp;Sightseeing</h3>

                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Sightseeingserch" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Sighseeing</a></li>
                                    <li role="presentation"><a href="#sightseeingform" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-flag "></span>&nbsp;&nbsp;&nbsp;&nbsp;Sightseeing</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="Sightseeingserch">
                                        @Html.Partial("_SearchSightseeingService")

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="sightseeingform">
                                       @Html.Partial("_CreateSightseeingService")
                                    </div>
                                </div>

                                <h6>&nbsp;</h6>
                                <h3 class="tab7section1">&nbsp;Restaurant</h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#RestaurantSearch" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Restaurant</a></li>
                                    <li role="presentation"><a href="#RestaurantForm" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-cutlery"></span>&nbsp;&nbsp;&nbsp;&nbsp;Restaurant</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="RestaurantSearch">
                                      @Html.Partial("_SearchRestaurantService")

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="RestaurantForm">
                                       @Html.Partial("_CreateRestaurantService")
                                    </div>
                                </div>

                                <h6>&nbsp;</h6>
                                <h3 class="tab7section1">&nbsp;Guiding Sightseeing</h3>

                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#gSightseeingserch" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Guiding Sighseeing</a></li>
                                    <li role="presentation"><a href="#gsightseeingform" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-flag "></span>&nbsp;&nbsp;&nbsp;&nbsp;Guiding Sightseeing</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="gSightseeingserch">
                                      @Html.Partial("_SearchGuideService")

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="gsightseeingform">
                                       @Html.Partial("_CreateGuideService")
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab10">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Page Load Time: </td>
                                                            <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Record Update Time: </td>
                                                            <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*User*@
                    <div role="tabpanel" class="tab-pane" id="tab9">
                        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#userGrid" role="tab" data-toggle="tab" data-section="userGrid" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search User</a></li>
                            <li role="presentation"><a href="#userForm" role="tab" data-toggle="tab" data-section="userForm" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-user-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create User </a></li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="userForm">
                             @Html.Partial("_CreateUserSupplierAccount")
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="userGrid">

                              @Html.Partial("_SearchUserSupplierAccount")
                            </div>
                        </div>

                    </div>
                    @*Billing / Bank*@
                    <div role="tabpanel" class="tab-pane" id="tab3">
                       @Html.Partial("_BillingBankSupplier")
                    </div>
                    @*Pay*@
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#Paygrid" role="tab" data-toggle="tab" data-section="userGrid" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Payment</a></li>
                            <li role="presentation"><a href="#Payform" role="tab" data-toggle="tab" data-section="userForm" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-money"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Payment </a></li>
                            @*<li role="presentation"><a href="#invoicereceipt" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-money"></span>&nbsp;&nbsp;&nbsp;&nbsp;Payment Transfer Details</a></li>*@

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="Payform">
                             @Html.Partial("_CreatePaymentSupplier")
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="Paygrid">
                              @Html.Partial("_SearchPaymentSupplier")
                            </div>
                            <div role="tabpanel" class="tab-pane" id="invoicereceipt">
                              @Html.Partial("_PaymentTransferSupplier")
                            </div>
                        </div>
                    </div>
                    @*Credit limit*@
                    <div role="tabpanel" class="tab-pane" id="tabcreditlimit">
                     @Html.Partial("_CreditlimitSupplier")
                    </div>
                    @*Accounts*@
                    <div role="tabpanel" class="tab-pane" id="tab7">
                       @Html.Partial("_AccountSupplier")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*Add FOC Rules*@
<div class="modal fade" id="MyModalFOCRules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">FOC Rules</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label># of Pax From</label>
                    <input type="text" class="form-control" id="txtModalAnyOther" placeholder="Users">
                </div>
                <div class="form-group">
                    <label># of Pax To</label>
                    <input type="text" class="form-control" id="txtModalAnyOther" placeholder="Users">
                </div>
                <div class="form-group">
                    <label># of FOC Pax</label>
                    <input type="text" class="form-control" id="txtModalAnyOther" placeholder="Any Other">
                </div>
                <div class="form-group">
                    <input type="checkbox" id="chkDifferentAddress">Breakfast Charges Applicable?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

@*User Grid*@
<div class="modal fade" id="MyUserGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search User</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email (Username)</th>
                                <th>Designation </th>
                                <th>Status </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email (Username)</th>
                                <th>Designation </th>
                                <th>Status </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Sarawut Engchawadechasilp</td>
                                <td>sarawut.engchawadechasilp@gmail.com</td>
                                <td>Manager</td>
                                <td><span class="label label-success Supplierstatus">Active</span></td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Room Grid*@
<div class="modal fade" id="MyRoomGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Room</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Accommodation Type</th>
                                <th>Room Type</th>
                                <th>Max Pax</th>
                                <th># of Rooms</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Accommodation Type</th>
                                <th>Room Type</th>
                                <th>Max Pax</th>
                                <th># of Rooms</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Twin Room</td>
                                <td>Deluxe Twin Room with Sea View </td>
                                <td>4</td>
                                <td>26</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            @*<tr>
                                <td>2</td>
                                <td>Double Room</td>
                                <td>Double Room</td>
                                <td>4</td>
                                <td>26</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Function Room Grid*@
<div class="modal fade" id="MyFunctionRoomGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Function Room</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Function Room Name </th>
                                <th>Function Type </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Function Room Name </th>
                                <th>Function Type </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Meetings & Events</td>
                                <td>Half Day AM, Half Day PM</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Restaurant Grid*@
<div class="modal fade" id="MyRestaurantGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Restaurant</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Restaturant Name</th>
                                <th>Meal Types</th>
                                <th>Break Fast Time</th>
                                <th>Lunch Time </th>
                                <th>Dinner Time </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Restaturant Name</th>
                                <th>Meal Types</th>
                                <th>Break Fast Time</th>
                                <th>Lunch Time </th>
                                <th>Dinner Time </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mantra Restaurant & Bar</td>
                                <td>Veg., Vegan, Jain</td>
                                <td>08:00 AM - 09:00 AM</td>
                                <td>11:00 AM - 02:00 PM</td>
                                <td>07:00 PM - 11:00 PM</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Pay Grid*@
<div class="modal fade" id="MyPayGrid" tabindex="-1" role="dialog" aria-labelledby="myPayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myPayModalLabel">Search Pay</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Guest Nationality</th>
                                <th>Credit Days</th>
                                <th>Currency </th>
                                <th>Payment Type </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Guest Nationality</th>
                                <th>Credit Days</th>
                                <th>Currency </th>
                                <th>Payment Type </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Asia, Austrailian</td>
                                <td>2</td>
                                <td>THB</td>
                                <td>Bank Transfer</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Sell Grid*@
<div class="modal fade" id="MySellGrid" tabindex="-1" role="dialog" aria-labelledby="mySellModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySellModalLabel">Search Sell</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Guest Nationality</th>
                                <th>Credit Days</th>
                                <th>Currency </th>
                                <th>Payment Type </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Guest Nationality</th>
                                <th>Credit Days</th>
                                <th>Currency </th>
                                <th>Payment Type </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Asia, Europian</td>
                                <td>4</td>
                                <td>THB</td>
                                <td>Case</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Set Margin*@
<div class="modal fade" id="MySetMarginGrid" tabindex="-1" role="dialog" aria-labelledby="mySetMarginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySetMarginLabel">Search Margin</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>FIT/Group</th>
                                <th>Margin For</th>
                                <th>Margin Type </th>
                                <th>Value </th>
                                <th>Effective From Date </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>FIT/Group</th>
                                <th>Margin For</th>
                                <th>Margin Type </th>
                                <th>Value </th>
                                <th>Effective From Date </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>FIT</td>
                                <td>Accommodation</td>
                                <td>Amount / Room / Night</td>
                                <td>9</td>
                                <td>07/02/2016</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Credit Limit*@
<div class="modal fade" id="MycreditGrid" tabindex="-1" role="dialog" aria-labelledby="myMycreditGridModal" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myMycreditGridModal">Search Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Total Credit Limit </th>
                                <th>Currency</th>
                                <th>Effective Date</th>

                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>

                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Total Credit Limit </th>
                                <th>Currency</th>
                                <th>Effective Date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>50000</td>
                                <td>USD</td>
                                <td>07/07/2005</td>

                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Increse*@
<div class="modal fade" id="MyincreseGrid" tabindex="-1" role="dialog" aria-labelledby="myMyincreseGridModal" aria-hidden="true">
    <div class="modal-dialog modal-">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myMyincreseGridModal">Increse Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div class="form group">
                    <div class="row">
                        <div class="col-md-4">

                            <label for="txtIncreseby">Increse By</label>
                            <div class="input-group input-append bootstrap-timepicker">
                                <input type="text" class="form-control req" id="txtIncreseby" value="2000" placeholder="Cancel Days">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                    </div>

                    <label for="txtEffectiveDate">&nbsp;</label>
                    <div class="row">
                        <div class="col-md-4">

                            <label for="txtEffectiveDate">Effective Date</label>
                            <input type="text" class="form-control date-picker" id="txtEffectiveDate" value="07/07/2005" placeholder="Effective Date">
                        </div>
                    </div>
                    <label for="txtEffectiveDate">&nbsp;</label>
                    <div class="row">
                        <div class="col-md-4">

                            <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                INCRESE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Decrese*@
<div class="modal fade" id="MydecreseGrid" tabindex="-1" role="dialog" aria-labelledby="myMydecreseGridModal" aria-hidden="true">
    <div class="modal-dialog modal-">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myMydecreseGridModal">Decrese Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div class="form group">
                    <div class="row">
                        <div class="col-md-4">

                            <label for="txtDecreseby">Decrese By</label>
                            <div class="input-group input-append bootstrap-timepicker">
                                <input type="text" class="form-control req" id="txtIncreseby" value="2000" placeholder="Cancel Days">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                    </div>

                    <label for="txtEffectiveDate">&nbsp;</label>
                    <div class="row">
                        <div class="col-md-4">

                            <label for="txtEffectiveDate">Effective Date</label>
                            <input type="text" class="form-control date-picker" id="txtEffectiveDate" value="07/07/2005" placeholder="Effective Date">
                        </div>
                    </div>
                    <label for="txtEffectiveDate">&nbsp;</label>
                    <div class="row">
                        <div class="col-md-4">

                            <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                DECRESE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>

    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script src="~/Scripts/SupplierAccount/SupplierAccount.js"></script>
    }
@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Basic Details">1</a>
        @*<a class="btn btn-default" data-section="tab2section1" data-toggle="tooltip" data-placement="left" title="Basic Details">1</a>*@
        <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Supplier Address">2</a>

    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" title="Billing">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" title="Bank">2</a>
    </div>

}



@section rightsidesummary{
    <h3>
        <span class="">
            <div class="btn-group">
                <a class="btn tab-itenaries btn-utilities-right">Utilities</a>
                <a class="btn btn-quickreport-right">Quick Report</a>
            </div>
        </span>
        <a href="javascript:void(0);" class="pull-right btn" id="closeRightSideSummary" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol text-utilities-tasks"></i>
            <span>Task</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-megaphone-black-amplification-audio-tool-symbol text-utilities-notification"></i>
            <span>Notification</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-calendar-events-symbol text-utilities-calendar"></i>
            <span>Calendar</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-new-email-black-back-envelope-symbol-of-interface text-utilities-email"></i>
            <span>Email</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>SMS</span>
        </a>*@
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-broken-black-ticket-symbol text-utilities-notes"></i>
            <span>Notes</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-close-arrow-shape-button-interface-symbol text-utilities-tags"></i>
            <span>Tags</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-film-strip-piece-of-two-photograms text-utilities-helpvideo"></i>
            <span>Help Video</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Guided Tour</span>
        </a>*@
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Copy</span>
        </a>*@
        <a href="javascript:void(0);">
            <i class="flaticon-printing-button-interface-symbol text-utilities-print"></"></i>
            <span>Print</span>
        </a>
        <a href="javascript:void(0);">
            <i class="flaticon-photo-camera-black-tool text-utilities-screenshot"></i>
            <span>Screenshot</span>
        </a>
        <hr />
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding: 0 5px 5px 5px;">Notification</h4>

            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slimscroll quickreport-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-6">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <select class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option>All</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Action</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Created</option>
                            <option>Modified</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Node Value</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Fortnightly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0">
                        <label>&nbsp;</label>
                        <button class="btn btn-info" style="padding: 5px 10px; font-size: 12px;">SHOW</button>
                    </div>
                </div>
            </div>
            <br />

        </div>
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">Master Data Entry Craeted/Modified Report <span class="pull-right"><a href="javascript:void(0);" style="padding: 0;">Flip View</a></span></h4>
            <div class="panel-body">
                <div id="morris2"></div>
            </div>
        </div>
    </div>
}

@section rightsidetimeline{
    <h3>Trail
        <a id="closeRightSideTimeline" class="pull-right btn" href="javascript:void(0);" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-5">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                    <div class="col-md-2">
                        <label style="margin-bottom: 5px; width: 100%;">&nbsp;</label>
                        <button class="btn btn-info pull-right" style="font-size: 12px; padding: 10px 14px;" rel="tooltip" title="Show Trail"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <hr />
        </div>
        <div class="col-md-12">
            <section id="cd-timeline" class="cd-container mCustomScrollbar">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-success">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-success">Created</h2>
                        <span class="cd-date">11-Mar-2016 05:11 PM</span>
                        <span class="cd-date pull-right">Sudhir Seth</span>
                        <span class="cd-date" style="display: block; width: 50%;">198.013.120.143</span>
                    </div>
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-primary">Updated</h2>
                        <span class="cd-date">12-Mar-2016 09:59 AM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-primary">Updated</h2>
                        <span class="cd-date ">12-Mar-2016 01:23 PM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-danger">
                        <i class="fa fa-trash"></i>
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2 class="text-danger">Deleted</h2>
                        <span class="cd-date ">12-Mar-2016 10:36 AM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
        </div>
    </div>
}
